<html>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<main>
		<nav>
			<div class="nav-wrapper">
				<a href="index.html" class="brand-logo">Follow the insiders</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">    
			<div class="row">
				<!--<div class="col l1"></div>-->		
					<div class="col l12"> 
						<h4>Find your next investment idea right here!</h4>
						<h5>Insiders might sell their shares for any number of reasons, but they buy them for only one: they think the underlying business is undervalued.</h5> 
						<h5>Tracking significant insider buys is a great hunting ground for your next high performing investment.</h5>
						<h5>We screen the world for insider buys on a daily basis and share the results with you for free. Keep visiting our site, as we will cover more and more countries.</h5>
						<h5>Significant insider buys of last 30 days:</h5>
						<!-- Dropdown Trigger -->
						<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Filter by country</a>
						<!-- Dropdown Structure -->
						<ul id='dropdown1' class='dropdown-content'>
							<li><a href="#!">USA</a></li>
							<li><a href="#!">Netherlands</a></li>
							<li><a href="#!">UK</a></li>
							<li><a href="#!">Canada</a></li>
						</ul>
						<table class="highlight">
							<thead>
								<tr>
									<th>Filing date</th>
									<th>Name</th>
									<th>Issuer</th>
									<th>Security type</th>
									<th>Total value</th>
									<th>Currency</th>
									<th>Country</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>09-05-2017</td>
									<td>Pietje</td>
									<td>Heineken</td>
									<td>Normal stock</td>
									<td>400</td>
									<td>EUR</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>05-05-2017</td>
									<td>Karel</td>
									<td>Unilever</td>
									<td>Certificate of stock</td>
									<td>29000</td>
									<td>EUR</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>01-05-2017</td>
									<td>Olivier</td>
									<td>Akzo Nobel</td>
									<td>Class C Stock</td>
									<td>10</td>
									<td>USD</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>09-05-2017</td>
									<td>Pietje</td>
									<td>Heineken</td>
									<td>Normal stock</td>
									<td>400</td>
									<td>EUR</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>05-05-2017</td>
									<td>Karel</td>
									<td>Unilever</td>
									<td>Certificate of stock</td>
									<td>29000</td>
									<td>EUR</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>01-05-2017</td>
									<td>Olivier</td>
									<td>Akzo Nobel</td>
									<td>Class C Stock</td>
									<td>10</td>
									<td>USD</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>09-05-2017</td>
									<td>Pietje</td>
									<td>Heineken</td>
									<td>Normal stock</td>
									<td>400</td>
									<td>EUR</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>05-05-2017</td>
									<td>Karel</td>
									<td>Unilever</td>
									<td>Certificate of stock</td>
									<td>29000</td>
									<td>EUR</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>01-05-2017</td>
									<td>Olivier</td>
									<td>Akzo Nobel</td>
									<td>Class C Stock</td>
									<td>10</td>
									<td>USD</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>09-05-2017</td>
									<td>Pietje</td>
									<td>Heineken</td>
									<td>Normal stock</td>
									<td>400</td>
									<td>EUR</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>05-05-2017</td>
									<td>Karel</td>
									<td>Unilever</td>
									<td>Certificate of stock</td>
									<td>29000</td>
									<td>EUR</td>
									<td>Netherlands</td>
								</tr>
								<tr>
									<td>01-05-2017</td>
									<td>Olivier</td>
									<td>Akzo Nobel</td>
									<td>Class C Stock</td>
									<td>10</td>
									<td>USD</td>
									<td>Netherlands</td>
								</tr>
							</tbody>
						</table>  
					</div>
				<!--<div class="col l1"></div>-->
			</div>
		</div>
	</main>
	<footer class="page-footer">
        <div class="container">
			<div class="row"></div>
         </div>
         <div class="footer-copyright">
            <div class="container"> Copyright by Followtheinsiders.com © 2017. All Rights Reserved.</div>
         </div>
	</footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </html>